html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(193,193,108);
    font-family: 'Roboto', sans-serif;
}

/* main grid stlye */
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(12 ,[col] 1fr);
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
}

header{
    grid-column: col 1 /span 12;
    padding: 0;
    
}
main {
    grid-column: col 1 /span 12;
    padding: 3em;
}
footer{
    grid-column: col 1 /span 12;
}

/* header style */
.heroarea{
    background-image:url('./img/heroimg.gif');
    width: 100%;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
}

/* header style */

.headercontent {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
}

.heroarea > div:nth-child(1) > h1:nth-child(2) {
    grid-column: col /span 12;
    font-family: 'Amatic SC', cursive !important;
    font-size: 6em !important;
    text-align: center !important;
}

.navlink {
    grid-column: col 10 /span 12;
}

.navlink ul {
    display: flex;
    align-items: center;
    position: relative;
    top: 1em;
  }
  .navlink li {
    list-style-type:none;
    margin-right: 3em;
  }
  .navlink a {
    text-decoration: none;
    color: rgb(87, 87, 87);
  }
  

/* main style */
.mainarea{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12 ,[col] 1fr);
    grid-auto-rows: auto;
    background-color: white; 
    align-items: center;
    border: 10px solid rgb(133, 133, 96);
   
}

.weathersection{
    display: flex;
    grid-column: col 2 / span 10;
    grid-row: 4;
    /* background-color: pink; */
    padding: 3em;
    margin-bottom: 3em;
    justify-content: center;
}
.weathertile {
    font-size: 1.5em;
    margin-right: 3em;
    outline: 2px solid black;
    padding: 2em;
}
.weatherformarea{
    margin-left: 3em;
}


/* weather form style */

input[type="text"]{
    border: none;
    border-bottom: 2px solid black;
    margin-right: 1em;
    font-size: 1em;
    padding: 0.5em;
}
.formbtn {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1em;
}
/* urban style */

marquee>h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(254, 136, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word {
    grid-column: col 2 / span 6;
    grid-row: 2;
    width: 750px;
}
.urbanarea{
    border: 2px solid black;
    padding: 3em;
}

/* livestream */
.livestream{
    grid-column:  col 2 / span 10;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}
.livestream h2{
    margin:2em auto;
    align-self: center;
    outline: 2px solid black;
    text-align: center;
    padding: 2em;
}

/* footer style */

footer {
    height: 10vh;
}